{% assign publications = include.publications %}
<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <h2 class="section-heading border-bottom border-gray px-4 pt-4 pb-3 mb-0">
                {% if include.title %}{{ include.title }}{% else %}Selected Recent Publications{% endif %}
                <a class="section-heading-link" href="{{ 'publications' | relative_url }}">(view all <i class="fas fa-angle-double-right"></i>)</a>
            </h2>
            {% for item in publications limit:include.limit %}
                {% include widgets/publication_item.html item=item first=false last=false %}
            {% endfor %}
        </div>
    </div>
</div>
