<div id="services" class="mt-3 pt-3 border-top border-gray">
  <h2 class="section-heading">Academic Services</h2>
  <ul class="list-unstyled mb-0">
    {% if site.data.profile.academic_services.conference %}
    <li class="media mb-1">
      <div class="media-body">
        <div>Conference Reviewer: {{ site.data.profile.academic_services.conference | join: ', ' }}.</div>
      </div>
    </li>
    {% endif %}
    {% if site.data.profile.academic_services.journal %}
    <li class="media mb-1">
      <div class="media-body">
        <div>Journal Reviewer: {{ site.data.profile.academic_services.journal | join: ', ' }}.</div>
      </div>
    </li>
    {% endif %}
  </ul>
</div>
