<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
  <h6 class="border-bottom border-gray p-3 mb-0">Academic Services</h6>
  <div class="p-3">
    <ul class="list-unstyled mb-1">
      {% if academic.conference %}
      <li class="media mb-1">
        <div class="media-body">
          <div>Conference Reviewer: {{ academic.conference | join: ', ' }}.</div>
        </div>
      </li>
      {% endif %}
      {% if academic.journal %}
      <li class="media mb-1">
        <div class="media-body">
          <div>Journal Reviewer: {{ academic.journal | join: ', ' }}.</div>
        </div>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
