<div class="row mt-3">
  <div class="col">
    <div class="card border-0 shadow-sm bg-white">
      <div class="card-body p-4">
        <h6>Academic Services</h6>
        <ul class="list-unstyled mb-1">
          {% if site.data.profile.academic_services.conference %}
          <li class="media mb-1">
            <div class="media-body">
              <div>Conference Reviewer: {{ site.data.profile.academic_services.conference | join: ', ' }}.</div>
            </div>
          </li>
          {% endif %}
          {% if site.data.profile.academic_services.journal %}
          <li class="media mb-1">
            <div class="media-body">
              <div>Journal Reviewer: {{ site.data.profile.academic_services.journal | join: ', ' }}.</div>
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
